/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */
:root {
  --ifm-color-primary: #2171ec;
  --ifm-color-primary-dark: #535353;
  --ifm-color-primary-darker: #4e4e4e;
  --ifm-color-primary-darkest: #404040;
  --ifm-color-primary-light: #656565;
  --ifm-color-primary-lighter: #6a6a6a;
  --ifm-color-primary-lightest: #787878;
}

/* For readability concerns, you should choose a lighter palette in dark mode. */
[data-theme='dark'] {
  --ifm-color-primary: #2171ec;
  --ifm-color-primary-dark: #aaaaaa;
  --ifm-color-primary-darker: #a1a1a1;
  --ifm-color-primary-darkest: #848484;
  --ifm-color-primary-light: #d0d0d0;
  --ifm-color-primary-lighter: #d9d9d9;
  --ifm-color-primary-lightest: #f6f6f6;
  --ifm-background-color: #000000;
}


.navbar__logo {
  margin-right: 1.5rem;
}